version: "3.9"

services:
  api:
    build: ./backend
    container_name: retail_api
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis

  worker:
    build: ./backend
    container_name: retail_worker
    command: celery -A app.core.celery_app.celery worker --loglevel=info
    volumes:
      - ./backend:/app
    env_file:
      - .env
    depends_on:
      - redis
      - db

  db:
    image: postgres:15
    container_name: retail_db
    restart: always
    environment:
      POSTGRES_DB: retail
      POSTGRES_USER: retail_user
      POSTGRES_PASSWORD: retail_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: retail_redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
